extends includes/layout.pug

block content
  #projects-page
    h1.page-title 作品集
    p.page-subtitle 这里收录了我做过的所有项目。点击标签可以筛选。

    //- Tag filter chips
    .tag-filter#project-tag-filter
      button.tag-chip.tag-chip--active(data-tag="all") 全部
      each tag in [...new Set(site.data.projects.flatMap(p => p.tags))]
        button.tag-chip(data-tag=tag)= tag

    //- Project list
    .project-list
      each project in site.data.projects
        a.project-item(href=project.link target="_blank" rel="noopener" data-tags=project.tags.join(','))
          .project-item__cover
            img(src=project.cover alt=project.name loading="lazy")
          .project-item__body
            h3= project.name
            p= project.desc
            .project-item__tags
              each tag in project.tags
                span.project-item__tag= tag
